/* login-page */
.login-page {
    background-image: url("./assets/bgimage.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
.login-dtls{
    margin: 10% 30%;
    padding: 50px;
    background: rgba(0, 0, 0, 0.285);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.507);
    border-radius: 20px;
}
.login-dtls input{
    padding: 10px;
    margin-top: 10px;
    font-weight: 600;
    border-radius: 10px;
    outline-color: rgba(3, 3, 34, 0.805);
}
.login-dtls button{
    padding: 10px;
    margin-top: 10px;
    background: black;
    color: white;
    border-radius: 10px;
}
.login-dtls button:hover{
    background: rgba(0, 0, 0, 0.446);
}
.loginBTN{
    display: block;
    width: 100%;
    background: blue !important
}

/* top-bannar */
.top-bannar{
    background-image: url('./assets/studentportal.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
}
.heading{
    padding-top: 15%;
    background: rgba(0, 0, 0, 0.418);
    width: 100%;
    text-align: center;
}
.student-service{
        margin-top: 40px;
}
.student-service a{
    padding: 15px 30px;
    margin: 20px;
    text-decoration: wavy;
    background: blue;
    color: white;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.332);

}

/* result page */
.rslt-container{
    margin-top: 100px;
    text-align: center;
}
.rslt-inputbox{
    display: flex;
    justify-content: center;
}
.rslt-inputbox input ,button{
    padding: 10px 20px;
    margin: 10px;
}
.rslt-inputbox button{
    background: rgb(10, 145, 53);
    color: white;
} 
.rslt-inputbox button:hover{
    background: rgb(3, 74, 25);
}
.result{
    margin: 20px 10%;
    border:  2px solid black;
    background: rgb(12, 108, 225);
    box-shadow:  0 0 4px 4px rgba(0, 0, 0, 0.279);
}