*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg,#1E3A8A,#3B82F6);
    font-size: 16px;
}
section{
    background-color: rgba(0, 0, 0, 0.355);
    color: white;
    margin: 50px 10%;
}

/* header */
header{
    color: white;
    width: 100%;
    position: fixed;
    background: black;
    top: 0;
}
.menubtn{
    display: none;
}
.wbmenu li ,a{ 
    list-style: none;
    color: white;
    text-decoration: none;
}
.wbmenu{
    display: flex;
    gap: 30px;
}
.mobilemenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    padding: 10px 40px;
    background: black;
    row-gap: 10px;
    list-style: none;
    text-align: center;
}
.mobilemenu li:hover{
    border: 1px solid rgb(145, 145, 225);
}
.mobilemenu li:hover a{
    color: white;
}


@media screen and (max-width: 900px){
   .menubtn{
    display: block;
    border: none;
   }
   .wbmenu{
    display: none;
   }
}


@media screen and (max-width : 500px) {
    body{
        font-size: 12px;
    }
    .student-service{
        display: grid;
        grid-template-columns: auto;
    }
    .heading{
        padding-top: 150px !important
    }
}

